$default_space: 4px
$header_height: $default_space * 14
$sidebar_width: $default_space * 57

//
// Font Size
//

$font_size_heading: 17px
$font_size_default: 13px
$font_size_small: 12px
$font_size_micro: 10px


//
// Color
//

$sidebar_color: #3c3f45
$font_color: #4f4f4f
$sub_font_color: #ababab
$border_color: #eee
$filter_color: #898989
$status_color: #3bb6b6
$white_color: #fff
