.l-container
  margin-left: $sidebar_width

.l_header
  border-bottom: 1px solid
  height: $header_height


.l-sidebar
  background-color: $sidebar_color
  color: #fff
  height: 100%
  position: fixed
  width: $sidebar_width
