.sidebar
  color: $sub_font_color
  font-size: $font_size_default

  .profile
    border-bottom: 1px solid $sidebar_decorate_color
    padding: $default_space * 4

  .heading
    color: $white_color
    margin-bottom: $default_space * 4

  .img
    background-color: $white_color
    +circle($default_space * 10)

  .info
    font-size: $font_size_small
    padding-left: $default_space * 2
    width: $default_space * 31

  .cell
    +vertical-center

  .status
    color: $status_color
    font-size: $font_size_micro
    padding-top: $default_space
    &:before
      content: "●"

  .list
    border-bottom: 1px solid $sidebar_decorate_color
    padding: $default_space * 4 0

  .item
    padding: $default_space * 5 $default_space * 3
    +link-background-colors($normal: false, $hover: $sidebar_decorate_color)
    +link-colors($normal: false, $hover: $white_color)
