//hoge
@charset 'utf-8'
@import 'compass'


//
// base
//

@import 'base/reset'
@import 'base/base'
@import 'base/utility'


//
// layout
//

@import 'layout/layout'


//
//boorstrap
//

@import 'bootstrap-sprockets'
@import 'bootstrap'




//あとで消す
.header
  height: $header_height
  background-color: #000
  color: #fff
